.body-styles {
    background: linear-gradient(298deg, #668F0A 30%, #FFA213 30%, #c9e6b7 70%, #668F0A 70%);
    position: relative;
    overflow: hidden;
}

.body-styles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 10% 10%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%);
    opacity: 0.2;
    pointer-events: none;
}

.body-styles::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 30% 40%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%);
    opacity: 0.1;
    pointer-events: none; /* Позволяет взаимодействовать с элементами под псевдоэлементом */
}